[2020-01-07 23:54] vwxyzjn opened #4 "Support gym.wrappers.Monitor Wrapper"
Let's add the Monitor integration to support things like https://youtu.be/UYBkrJBVvys

[2020-01-07 23:54] vwxyzjn opened #5 "Merge the replay buffer implementations"

[2020-01-09 21:57] #4 closed

[2020-01-09 21:57] #5 closed

[2020-02-13 00:21] vwxyzjn opened #7 "Refactor PPO Buffer"
The idea is to create a buffer that you can add an entire episode in it, and calculate the corresponding advantages. Until some certain limits, keep adding episodes in the buffer using the same `returns, obs, actions` array under the buffer.

[2020-02-13 00:24] vwxyzjn commented on #7
The following pictures show that the return calculation is correct under the same returns array.

![image](https://user-images.githubusercontent.com/5555347/74389725-1e49aa00-4dcd-11ea-88f2-45e19c524cec.png)
![image](https://user-images.githubusercontent.com/5555347/74389739-2bff2f80-4dcd-11ea-8f15-49d70a512a0d.png)

[2020-02-25 05:06] #7 closed

[2020-02-25 05:06] vwxyzjn opened #10 "GAE Calculation for PPO"
This issue will serve as a record to verify the correctness of the change.

[2020-02-25 05:07] vwxyzjn commented on #10
[code]

[2020-02-25 05:28] vwxyzjn opened #11 "Print out episode reward for debugging without tensorboard"
The current implementation doesn't print out anything once the scripts start running. Perhaps it would be more beginner-friendly if we print out something like the following just to let the user know that the script is actually running.

[code]
And additional desired metrics to be printed should be the episode length.

[2020-03-04 02:30] #10 closed

[2020-03-18 23:42] vwxyzjn opened #14 "Cloud Integration Support"
It is desirable to be able to run experiments on scale by leveraging cloud providers such as AWS, GCP, Azure, or even on-premise servers. This issue will track all of the commits that are related to cloud integrations.

[2020-04-16 00:20] vwxyzjn opened #16 "GAE bug with PPO2"
The following results using GAE is clearly incorrect. The last value of the advantages array is very off.
![image](https://user-images.githubusercontent.com/5555347/79401122-39b06d00-7f56-11ea-9aff-a5590df754fc.png)

The reason for the bug might be related to `episode_lengths = [-1]`, where the GAE based calculation will set the last value of the advantages array incorrectly. This requires better

[2020-04-16 00:23] vwxyzjn commented on #16
https://github.com/openai/spinningup/blob/038665d62d569055401d91856abb287263096178/spinup/algos/pytorch/ppo/ppo.py#L44-L64 offers better implementation and it matches closer to the GAE described in the paper. Namely,

![image](https://user-images.githubusercontent.com/5555347/79401379-e854ad80-7f56-11ea-9d77-95687ddeea37.png)

![image](https://user-images.githubusercontent.com/5555347/79401395-f4d

[2020-04-17 16:31] vwxyzjn opened #18 "Normalized Env Bug"
There has been an issue with the `NormalizedEnv` in `ppo2_continuous_action.py`. It uses the underlying `RunningMeanStd`, which is incorrectly implemented as illustrated below:

[code]

And the output is

[code]

[2020-04-17 16:35] vwxyzjn commented on #18
This seems to the *major* but that's causing the agents to underperform in a lot of mujoco tasks. After fixing this `RunningMeanStd`, the PPO agents seem to perform much better as shown below.

(green and blue are with correct `RunningMeanStd` and incorrect `RunningMeanStd`, respectively)
![image](https://user-images.githubusercontent.com/5555347/79592261-bef76700-80a7-11ea-9d18-b96bbad4612a.png)

[2020-04-17 16:44] vwxyzjn commented on #18
The commit above fixed it. Please review @dosssman  when having a chance. Thanks.

[2020-04-17 16:46] vwxyzjn commented on #16
Fixed via the latest commit, please close the issue after review (if there is no problem) @dosssman

[2020-04-17 16:46] vwxyzjn commented on #11
All files now have rudimentary support for this feature. Closing for now.

[2020-04-17 16:46] #11 closed

[2020-04-17 21:01] dosssman commented on #16
`discount_sum` sounds like a safe bet for now

[2020-04-17 21:02] dosssman commented on #16
I don't think I can close the issue though

[2020-04-17 21:09] dosssman commented on #18
Is there the same problem in the `NormalizedEnv` of Baselines too ?

[2020-04-17 22:08] vwxyzjn commented on #18
No, baselines expect the vectorized env while ours only have one game environment. Closing now.

[2020-04-17 22:08] #18 closed

[2020-04-17 22:11] #16 closed

[2020-05-15 00:43] vwxyzjn opened #19 "0.3 Release"
Here is a list of TODOs for 0.2 release

[ ] Include a benchmark PNG file of all the algorithms using seaborn
[ ] Consider using a wrapper to replace the functions in `common.py`
[ ] Consider wrapping the env and only use torch arrays
[ ] Benchmark Atari games
[ ] Better documentation for cloud support
[ ] Optimize the DQN memory usage

Something not potentially for 0.2 but more likely for the fut

[2020-05-15 23:59] vwxyzjn opened #20 "GPU Implementation runs no faster than CPU counterparts"
For example, here is the profiling `dqn.py` running 2e4 total timesteps.

GPU:
[code]
![image](https://user-images.githubusercontent.com/5555347/82104842-6dfa8300-96e6-11ea-9481-89cd73d04390.png)

CPU:
[code]
![image](https://user-images.githubusercontent.com/5555347/82104723-017f8400-96e6-11ea-889b-bd04c4219315.png)

[2020-06-05 04:53] dosssman commented on #20
On environment that do not require CNN, that is to be expected.

The GPU advantage seems to only kick in when the data / network size crosses a certain threshold,
namely where the overhead of moving the data to the GPU is negligible when compared to the cost of doing the feed forward as well as back propagation operations.

The following Wandb report only investigates the batch size, but the `cuda

[2020-06-05 09:10] dosssman commented on #20
Well, turns out the Wandb overhead seems to really mess up the results.
When running the experiments with source code on a tmpfs device, the GPU version catches up even faster to the CPU one.

Although incomplete at the time of this writing, the following Wandb Report shows that GPU starts showing faster runtime than CPU from ~512 batch size:
https://app.wandb.ai/dosssman/cleanrl-cpu-gpu-comp-2/re

[2020-07-03 03:40] HamishDuncanson opened #22 "Problems with PPO value loss"
https://github.com/vwxyzjn/cleanrl/blob/a1a902173cb0cd7e84e109fcfcfecbbb4b908882/cleanrl/ppo_continuous_action.py#L379

I believe this line is missing a .mean()

Also, are you meant to be multiplying the value loss by 0.5 in lines 377 and 379? Isn't that the purpose of args.vf_coef?

I notice there is a number of PPO implementations, and it looks like many of them have the same issue.

[2020-07-03 04:13] HamishDuncanson opened #23 "Possible mistake in normalization of returns"
https://github.com/vwxyzjn/cleanrl/blob/a1a902173cb0cd7e84e109fcfcfecbbb4b908882/cleanrl/ppo_continuous_action.py#L68

Shouldn't we subtract the mean: (rews- self.ret_rms.mean)

[2020-07-03 04:18] #23 closed

[2020-07-03 18:02] vwxyzjn commented on #22
@HamishDuncanson Thanks a lot for examining the code and raise this issue. The latest commit should fix the problem.

The `0.5` is used in a similar fashion as it is used in `openai/baselines`: https://github.com/openai/baselines/blob/ea25b9e8b234e6ee1bca43083f8f3cf974143998/baselines/ppo2/model.py#L68-L75

[2020-07-03 18:06] vwxyzjn commented on #23
@HamishDuncanson this is done in the same way as `openai/baselines` https://github.com/openai/baselines/blob/ea25b9e8b234e6ee1bca43083f8f3cf974143998/baselines/common/vec_env/vec_normalize.py#L32

[2020-07-24 11:28] georgepsh opened #24 "PPO: Shouldn't advantages be recomputed after every minibatch update?"
https://github.com/openai/baselines/blob/master/baselines/ppo2/runner.py - here, lines 65-66
I was trying to reproduce the ppo paper results myself, and I noticed that in openai/baselines repo they compute GAE for each trajectory segment, but they don't use these advantages directly. They do some trick regarding the fact that **Adv = Return - Value**. Thus **Return = Adv + Value**.
And then at htt

[2020-07-24 15:27] vwxyzjn commented on #24
They should be equivalent since value does not change.

[2020-07-24 18:50] georgepsh commented on #24
Hm, I guess you are right. For some reason I misinterpreted the code and thought they use new value after every update

[2020-07-24 18:50] #24 closed

[2020-07-25 00:06] vwxyzjn commented on #20
This has largely been fixed with the latest commits. Closing the issue for now.

[2020-07-25 00:06] #20 closed

[2020-07-31 23:45] vwxyzjn commented on #22
Closing the issue for now.

[2020-07-31 23:45] #22 closed

[2020-08-03 15:51] #19 closed

[2020-08-14 18:29] Kimonili opened #26 "TypeError: can't assign a list to a torch.cuda.FloatTensor"
I got the above error in the line

https://github.com/vwxyzjn/cleanrl/blob/bb18a39f9f8a6d9890413aafc12cd10690c6182a/cleanrl/ppo.py#L217

as my state space is a list [Box(4,)]. In order to address it, I converted next_obs to a tensor before assigning it to the obs tensor's selected index. I am not sure if this is the optimal solution, but it worked.

[2020-08-14 18:32] vwxyzjn commented on #26
I see. Try converting your observation to numpy array before feeding it to the `obs` array

[2020-08-14 18:44] Kimonili commented on #26
I tried that as well, but got this `TypeError: can't assign a numpy.ndarray to a torch.cuda.FloatTensor`

It only worked when I converted the observation to a tensor.

[2020-08-14 18:46] vwxyzjn commented on #26
What’s the exact output of `env.observation_space`?

[2020-08-14 18:48] Kimonili commented on #26
`env.observation_space` output is `[Box(4,)]`

sample of `env.reset()` is this `[array([ 0.        ,  0.        ,  0.19867001, -0.69431174])]`

[2020-08-14 18:52] vwxyzjn commented on #26
It's a little off. The correct formulation should not have the list to enclose the observation space.

[code]

[2020-08-14 18:58] Kimonili commented on #26
Yes I know, the environment is a little tricky. It is the [multiagent particle environment](https://github.com/openai/multiagent-particle-envs) (the simple.py one). It is a multiagent one, that's why there is a list of observation spaces (one for each agent).

So, when I do this `env.observation_space[0]` I get the classic `Box(4,)`.

[2020-08-14 19:01] vwxyzjn commented on #26
I see. I am not very familiar with the multi-agent settings so unfortunately I could not give much help at the moment :(

[2020-08-14 19:06] Kimonili commented on #26
Don't worry, the good thing is that it runs anyway!

Thank you for your time!

[2020-08-14 19:06] #26 closed

[2020-09-24 00:04] vwxyzjn opened #27 "Refactoring on Class Arguments"
## Problem Description

Since CleanRL has been using single-file implementations with no `main()` function, a lot of global variables are created, and sometimes we have code within a class access global variables when those global variables should be passed to the classes.

## Current Behavior

As an example, in https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/dqn_atari_visual.py,

[code]

T

[2020-09-24 00:18] vwxyzjn opened #28 "Generally Support Griddly Environments"
## Problem Description
Support Griddly (https://griddly.readthedocs.io/en/latest/) in the Open RL Benchmark (http://benchmark.cleanrl.dev/)

## Current Problems
The games have different resolutions, which make it difficult to write a generic script to handle all the Griddly games once and fo all. @Bam4d is working on some methods such as global /average pooling for this issue.

[2020-09-24 00:25] vwxyzjn opened #29 "Support Procgen Environments"
## Problem Description
Procgen Environments (https://github.com/openai/procgen) are new environments to test out the generalization ability of agents. It would be nice to include some of the games into the Open RL Benchmark (http://benchmark.cleanrl.dev/)

This is a good first issue for contributors. I think contributors can simply modify the network model slightly (https://github.com/vwxyzjn/clea

[2020-09-24 03:19] vwxyzjn opened #30 "Support StarCraft II Mini-game Environments (pysc2)"
## Problem Description

StarCraft II Environments (https://github.com/deepmind/pysc2) have some challenging mini-games. It would be nice to include some of the games into the Open RL Benchmark (http://benchmark.cleanrl.dev/)

For experienced researcher, this might be a good issue. I have already created a gym wrapper for sc2 (https://github.com/vwxyzjn/gym-pysc2), and here is an example run (https

[2020-09-24 18:56] adamcakg commented on #27
Hello @vwxyzjn , I'm looking for first issue... Is this issue still available? If yes can you mark me to it?

[2020-09-24 19:24] vwxyzjn commented on #27
Yes @adamcakg, it is still avaialble. Thanks so much for contributing! If you need any help or want to chat, feel free to find me on slack!

[2020-09-24 19:52] vwxyzjn opened #31 "Implementing IMPALA"
## Problem Description
It would be nice to include IMPALA (Importance Weighted Actor-Learner Architectures) to the [Open RL Benchmark](https://benchmark.cleanrl.dev)

A implementation that looks nice is https://github.com/facebookresearch/torchbeast.

[2020-09-24 19:59] vwxyzjn opened #32 "Implementing PPG (Phasic Policy Gradient)"
## Problem Description

PPG (Phasic Policy Gradient, https://arxiv.org/abs/2009.04416) seems to be a major update to PPO that improves the sample-efficiency of PPO. PPG is examined on Procgen (#29) in the paper, which we should replicate in the [Open RL Benchmark](http://benchmark.cleanrl.dev/). In addition, it might be intersting to examine its performance in Atari and continuous control tasks as

[2020-09-28 18:55] vwxyzjn opened #33 "Work with AWS Preemptible Instance"
## Problem Description

For the AWS Integrations, we usually run experiments using AWS spot instances to save cost. However, sometimes there's a need to running experiments for a long time. Real use cases include running montezuma's revenge by @yooceii and certain microrts tasks by myself. So we should look more into this issue.

By consulting this resource, I am considering storing the models per

[2020-09-29 02:16] vwxyzjn commented on #33
Roughly it can run the

[code]

[2020-10-07 18:53] vwxyzjn commented on #27
@adamcakg This is an extraordinary effort! I have just merged the code. You must put a lot of effort and scrutiny in it. Thank you so much for helping format the code. I would love to hear what kind of RL projects you would want to do. Feel free to DM me on discord (Costa#2021) if you'd like to chat. I am also very open to collaborations.

[2020-10-15 17:17] bentrevett opened #35 "Both dqn_atari and dqn_atari_visual use different ReplayBuffers compared to other implementations"
Thanks for creating this repo - I always have difficulty understanding RL algorithms when they're spread across huge libraries.

One question, both the `dqn_atari.py` and `dqn_atari_visual.py` both use the following `ReplayBuffer` class:
[code]

However, `dqn.py`, `c51.py`, `c51_atari.py`, `cs51_atari_visual.py`, `sac_continuous_action.py`, and `td3_continuous_action.py` all use the following `Rep

[2020-10-16 01:31] vwxyzjn commented on #35
Hi @bentrevett thanks for the report. I am glad you are enjoying our single-file implementations.

Regarding the replay buffer issue, I was experimenting with both to see if there is a memory usage difference, but that does not seem to be the case. If it is convenient with you, feel free to make a PR changing the replay buffer class in `dqn_atari.py` and `dqn_atari_visual.py` to the one in other f

[2020-10-16 14:32] #35 closed

[2020-10-16 14:33] vwxyzjn commented on #35
Looks great! Thanks for the PR!

[2020-10-16 14:34] vwxyzjn commented on #35
If you have a wandb user name, feel free to throw it at me and I will add you to the list of authors of https://benchmark.cleanrl.dev

[2020-10-17 12:20] bentrevett commented on #35
Sure - it's the same as my github username: https://wandb.ai/bentrevett

[2020-10-17 15:18] vwxyzjn commented on #35
Done! Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ben Trevett <notifications@github.com>
Sent: Saturday, October 17, 2020 8:21:07 AM
To: vwxyzjn/cleanrl <cleanrl@noreply.github.com>
Cc: Costa Huang <costa.huang@outlook.com>; State change <state_change@noreply.github.com>
Subject: Re: [vwxyzjn/cleanrl] Both dqn_atari and dqn_atari_visual use different

[2020-10-18 20:21] #27 closed

[2021-01-27 22:42] vwxyzjn commented on #32
PPG has pretty large GPU memory requirement due to the its use of batch to store obs. To make it easier to use smaller GPU memory, we experiment with gradient accumulation.

Below are the gradient accumulation results for the value loss

[code]

kl loss:
[code]

So apparently gradient accumulation works with the value loss but something in `td.kl_divergence` is throwing off the calculation for the

[2021-04-26 02:03] drozzy opened #43 "AWS example?"
Do you guys have an example of how to run this on AWS? I've never done it but it sounds intriguing.
Also, what kind of costs do you pay for training a single game, for example?

[2021-04-26 02:11] vwxyzjn commented on #43
Hi, that is a good question. We don't have formal documentation on the integration with AWS, but you might find this useful:

https://costa.sh/blog-how-we-conduct-large-scale-drl-experiments.html

Unfortunately, the blog post is a bit dated. How soon do you need the documentation? The commands I use to submit experiments for https://github.com/vwxyzjn/gym-microrts-paper look more like:

[code]

[2021-04-26 03:13] drozzy commented on #43
All good, this was merely a curiosity.

[2021-04-26 03:13] #43 closed

[2021-05-08 03:02] jingxixu opened #46 "Dict observation space"
Hi, is the PPO implementation in this repo able to handle the Dict observation space? Many thanks!

[2021-05-09 03:14] vwxyzjn commented on #46
Currently there is none, but a really easy fix to flatten the dict observation into `gym.Box` obs space, then in the [`get_action` function](https://github.com/vwxyzjn/cleanrl/blob/27d760644cd23dc6878342b46d3993e22d183d27/cleanrl/ppo_atari.py#L493) you could reshape the `Discrete` action space into their original shapes and handle them however you want.

Imagine you have `{'rgb': gym.Box(86,86), '

[2021-05-12 04:01] hlsafin opened #47 "Issues with applying PPO Impala on Retro Env in regards to running multiple environment"
So what I essentially need is to so have something like
"venv = ProcgenEnv(num_envs=" ...  but for retro.make().  Running multiple retro environments is causing issues for me, and retrowrapper isn't helping. Thank you!

[2021-05-12 12:37] vwxyzjn commented on #47
Hey would you mind posting more specifics here? It’s kind of hard to help you with just these descriptions. You should specify, for example, what issue or error it was having, what does your env initialization code looks like.

[2021-05-12 13:04] hlsafin commented on #47
Yes, I understand. I really don't have a specific example; I just wanted to know some broad adjustments needed to be made to account for Retro Environment; Since they have issues with running multiple environments once. I apologize if this was a vague post.

[2021-05-12 13:15] vwxyzjn commented on #47
No worries, I think the script below would work. If you are interested in running more retro experiments, feel free to join our discord channel at https://discord.gg/D6RCjA6sVT. I would be happy to feature your retro experiments in our [Open RL Benchmark](http://benchmark.cleanrl.dev/)

[code]

[2021-05-12 13:22] hlsafin commented on #47
![image](https://user-images.githubusercontent.com/36808133/117981750-55c24180-b303-11eb-9854-f17e83beac08.png)
Above is the progress I've made on Mortal-Kombat3-genesis environment. And the top-performing agent is PPG (via your implementation), I am just trying to make more adjustments and compare them IMPALA_Cnn.

[2021-05-12 13:38] vwxyzjn commented on #47
Awesome! The PPG implementation is a little unstable. I wasn't able to reproduce the authors' results so I'd be careful with that.

[2021-05-13 01:48] hlsafin commented on #47
Yeah, it seems like it's not getting past 400 rewards no matter what I try, unfortunately.

[2021-05-13 01:50] vwxyzjn commented on #47
How long did you train it for?

[2021-05-13 01:59] hlsafin commented on #47
Well, the longest one was trained for 12 hours straight, and on average it stayed around 400. (PPG). Currently, i'm trying PPO Impala(8 workers), and it's getting the same results(trained on 10 million global_steps so far)

[2021-05-13 02:00] hlsafin commented on #47
mk3 seems to be a hard environment I suppose

[2021-05-13 02:01] vwxyzjn commented on #47
Could you share the run?

[2021-05-13 02:01] hlsafin commented on #47
code or graph?

[2021-05-13 02:02] hlsafin commented on #47
![image](https://user-images.githubusercontent.com/36808133/118067045-c8680700-b36d-11eb-9bf8-d6d0eb4c7f6d.png)

[2021-05-13 02:02] vwxyzjn commented on #47
Graph. Or the url of your experiment

[2021-05-13 02:03] hlsafin commented on #47
blue is ppo-impala

[2021-05-13 02:04] vwxyzjn commented on #47
Looks like there are some learning happened in the beginning. So this might be just environment specific

[2021-05-13 02:07] hlsafin commented on #47
Do you think bringing down the learning rate would make any difference? Or changing any other hyper-parameter would make any changes? Or is this a lost cause?

[2021-05-13 02:08] vwxyzjn commented on #47
Short answer is I am not sure, but I think they should help

[2021-05-13 02:13] hlsafin commented on #47
Well, I'll keep trying and if anything happens I'll post it here. I'll let PPO-impala go on until it reaches around 40~ ish million steps and sees if it improves. If anyone has any suggestions, please feel free to reply.

[2021-05-13 02:16] hlsafin commented on #47
https://wandb.ai/hlsafin/mk3_project/reports/Shared-panel-21-05-12-22-05-85--Vmlldzo2ODU5NjI?accessToken=rthx4pxd7w8w8yn79rlb534ppa5h8729u36m59hit8zm9ooqkvf23j526y5qsvcm

[2021-05-23 04:54] kargarisaac opened #49 "LOMPO and COMBO implementation for visual offline RL"
Hi,

I really like this repo and use it in my research. I found the visual CQL implementation very interesting and wonder if there is a plan to add COMBO and LOMPO algorithms for visual and offline RL?

Thank you

[2021-05-23 11:24] vwxyzjn commented on #49
Hi @kargarisaac, currently there is no plan.

[2021-05-23 11:24] #49 closed

[2021-09-14 23:35] FelipeMartins96 opened #53 "Broken links on README"
## Problem Description
Broken links on Algorithms Implemented section of README

## Current Behavior
Links are pointing to unavailable pages

## Expected Behavior
Link should point to desired code

## Possible Solution
Remove links to removed code or change links to new location

## Steps to Reproduce
The link to the following codes on README implemented algorithms section are pointing to old loca

[2021-09-14 23:39] vwxyzjn commented on #53
Hey @FelipeMartins96  thanks for reporting the problem. Yeah those links are broken due to some cleaning up. Would you mind making a PR removing the references to these links?

[2021-09-16 01:44] FelipeMartins96 commented on #53
sure! Will do that

[2021-09-24 14:06] #53 closed

[2021-10-07 22:09] vwxyzjn opened #57 "Documentation Site"
## Problem Description
Although CleanRL generally has a simplistic implementation, it will be desirable to have a documentation site for some situations. For example, I'm not sure where to put instructions on how to do start and resume with CleanRL's scripts. See #33, #14.

[2021-10-07 22:11] #47 closed

[2021-10-08 03:52] dosssman commented on #57
Are the start and resume independent of WANDB and AWS ?

[2021-10-08 04:00] dosssman commented on #57
In such case, I would say the relevant instructions could go to the wandb / cloud integration documentation section.

[2021-10-09 21:49] slerman12 opened #58 "Loading benchmarked hyperparams?"
Is there a way to load the reproducibility hyperparams automatically for each environment and alg?

[2021-10-09 22:10] vwxyzjn commented on #58
Like print out a table? Please be more descriptive.

[2021-10-10 00:43] vwxyzjn commented on #32
I noticed some nit different between  the PPO implementation from your repos and the openai/baselines’s PPO implementation. For example, the `policy_head` and `value_head` of PPG’s PPO implementation [are both initialized with scale 0.1](https://github.com/openai/phasic-policy-gradient/blob/7295473f0185c82f9eb9c1e17a373135edd8aacc/phasic_policy_gradient/ppg.py#L99-L108), while the openai/baselines

[2021-10-16 03:07] #58 closed

[2021-10-16 03:08] vwxyzjn commented on #57
I am a little in favor of mkdocs, becuase in https://fastapi.tiangolo.com/tutorial/ you can see like an animated terminal and that in the other pages you can highlight code

[2021-10-22 03:55] dosssman opened #68 "DDPG Actor missing 1 argument: 'env'"
Identified while testing changes for PR #67

https://github.com/vwxyzjn/cleanrl/blob/502f0f3abd805799d98b2d89a2564b6470b3dad0/cleanrl/ddpg_continuous_action.py#L167

When running:
[code]

returns the error:
[code]

[2021-10-22 03:57] vwxyzjn commented on #68
Thanks for this catch! Would you mind submitting a PR for fixing it?

[2021-10-22 04:14] #68 closed

[2021-10-24 14:40] 51616 opened #73 "Proper entropy regularized PPO"
## Problem Description
Seems like the current implementation of PPO use only one-step entropy bonus (not including the entropy bonus in the overall return). I see this as a ease of implementation that passed along from other popular repos. Do you consider implementing the proper entropy regularization in this repo? It seems like the performance gain might me crucial in some cases as shown in this

[2021-10-26 18:18] vwxyzjn opened #74 "SAC Consistency"
## Problem Description
Currently, the SAC script has debugging outputs that are inconsistent with other scripts in the repository (see [here](https://github.com/vwxyzjn/cleanrl/blob/ea3d1eda628215c44c5f978a33c7b60d7f965c10/cleanrl/sac_continuous_action.py#L320-L321): it outputs
```print(f"Episode: {global_episode} Step: {global_step}, Ep. Reward: {episode_reward}")```
instead of
```print(f"global_

[2021-10-27 02:33] #74 closed, assigned to dosssman

[2021-10-31 14:56] 51616 commented on #73
@vwxyzjn I have tested the proper version. The results look very good on Pybullet's HalfCheetah (hovering around 2200 after 1M steps which is higher than the current version of PPO) And the score on Breakout looks similar to the normal version.

[2021-10-31 14:58] vwxyzjn commented on #73
@51616 Thanks for reporting back. This is great to know. Have you tracked the experiments by any chance? I'd love to see the learning curves and stuff. If you have the URL to the experiments that will be great.

[2021-10-31 18:35] 51616 commented on #73
@vwxyzjn I did not turn wandb tracking on. I'll do that tonight and send you the report link right after. And the PR should be simple enough. Should we try comparing runs from naive and proper version across many tasks? 'Cause this change would make the implementation in this repo differs from others. So it might have to be justified and we should be confident that the change really matters.

[2021-10-31 18:43] vwxyzjn commented on #73
@51616 that’s a good point. I’d be careful with committing this change directly to the files. Maybe you can create a folder called `ppo_wth_proper_enropy_tuning` and create the three ppo files in there? If you create a PR I could also help some experiments.

[2021-11-09 15:40] 51616 commented on #73
@vwxyzjn Sorry for a late reply. It seems like the improvement I reported is just a noise :( It seems like the continuous control tasks do not benefit from using entropy regularized objective in the first place. And I see no clear improvement for Atari tasks as well. Do you still want to try it out? I can make a pull request of my implementation

[2021-11-09 15:44] 51616 commented on #73
And the tracked stats is here: https://wandb.ai/51616/proper_ppo_entropy?workspace=user-51616

[2021-11-10 01:11] vwxyzjn commented on #73
Hey thanks for running these tests. So I think the best way to proceed from this is to make a PR and put everything under a folder like `ppo_wth_proper_enropy_tuning`, and also include a README.md that explains this proper entropy regularization and have a pointer to the tracked stats.

[2021-12-10 02:36] caimingxue opened #96 "This is a great job. I want to ask, how should you plot the following curves? seaborn or wandb? If use wandb, how to edit this? Thanks"
![question](https://user-images.githubusercontent.com/45029643/145507809-e83d0bad-81a8-48e7-a8a6-8e8345a612a6.png)

[2021-12-10 02:44] vwxyzjn commented on #96
Hey, checkout https://github.com/vwxyzjn/cleanrl/pull/55. You could also export that curve directly from the wandb dashboard (although less configurable).

[2022-01-06 03:23] #96 closed

[2022-01-28 10:57] Nilllas opened #103 "GitPod link not working"
## Problem Description
Link to GitPod dev environment on instructions page not working. Dev environment not opening in GitPod. Error message saying that there is not GitPod file in repository.

## Current Behavior
See above.

## Expected Behavior
Dev environment opening in GitPod.

## Possible Solution
Fix GitPod link

## Steps to Reproduce
Try to click on GitPod banner-link on instructions page.

[2022-01-28 15:04] vwxyzjn commented on #103
Could you check if it is fixed?

[2022-01-29 09:20] Nilllas commented on #103
Seems working fine now. Thanks!

[2022-01-29 14:26] #103 closed

[2022-01-31 20:24] vwxyzjn opened #105 "Numerical instability in C51"
C51 does a cross-entropy loss which could have numerical instability depending on the implementation. See [link](https://gist.github.com/zhanghuimeng/1fcd5aa6fdf162edce921248c7376d57) for an overview. Usually calculating the cross-entropy loss directly from the logits is more numerically stable. However, I am not sure how to do it exactly.

Deepmind's dqn_zoo has an implementation seems to use the

[2022-02-07 17:01] vwxyzjn opened #110 "HuggingFace's model hub integration"
## Problem Description

[HuggingFace's model hub](https://huggingface.co/models) has become a standard place to host trained models. Now it is expanding coverage to the RL space (see [huggingface.co/sb3](https://huggingface.co/sb3/demo-hf-CartPole-v1) as an example and https://github.com/DLR-RM/rl-baselines3-zoo/pull/198) & it would be nice for us to integrate, too. I spoke with [@ThomasSimonini](

[2022-02-07 23:12] mf093087 opened #111 "[WinError 193] %1 is not a valid Win32 application"
I try to install this package on windows. When I installed poetry, when I run poetry run ppo.py, I met the following errors:

[WinError 193] %1 is not a valid Win32 application

  at c:\users\username\onedrive\anaconda3\lib\subprocess.py:1311 in _execute_child
      1307│             sys.audit("subprocess.Popen", executable, args, cwd, env)
      1308│
      1309│             # Start the process

[2022-02-07 23:14] vwxyzjn commented on #111
Hey not sure why this happens but maybe try installing without anaconda.

[2022-02-08 13:42] mf093087 commented on #111
Yes I will try, thanks a lot

[2022-02-18 21:18] vwxyzjn commented on #111
Cl

[2022-02-18 21:18] #111 closed

[2022-02-21 03:55] vwxyzjn opened #115 "Roadmap for CleanRL"
As CleanRL gets more mature, it's time to re-think the future. With CleanRL 1.0, we'd hope to further improve documentation and design better contribution guidelines. This issue tracks a few desired items for CleanRL 1.0.

## 1.0
- [x] #116
- [x] Table of implemented algorithms and links that refer to the paper. (see https://docs.cleanrl.dev/rl-algorithms/overview/)
- [x] #121
- [x] #123
- [x] #11

[2022-02-21 03:55] vwxyzjn opened #116 "Refactor the `argparse` parameters to have `learning_rate` `total_timesteps` move down to algorithm-specific arguments."
Also refactor `gym-id` to `env`

[2022-02-21 15:09] vwxyzjn opened #117 "Friendlier `CONTRIBUTING.md`"
We should make contribution guidelines clearer. We got the feedback that "Although the current project seems welcoming to new developers, there is little concrete information on how to get involved. For example, what code style does the project follow? What are the criteria for including a new algorithm: what documentation does it need to have, test cases, etc? There is little in the way of API do

[2022-02-22 02:07] vwxyzjn commented on #117
Maybe we should add a contribution template like this:

## Checklist:

- [ ] I've read the [CONTRIBUTION](https://github.com/vwxyzjn/cleanrl/blob/master/CONTRIBUTING.md) guide (**required**).
- [ ] I have ensured `pre-commit run --all-files` passes (**required**).
- [ ] I have worked with @vwxyzjn to obtain access to the [`cleanrl` W&B team](https://wandb.ai/cleanrl) (**required**).
- [ ] I have t

[2022-02-22 02:32] vwxyzjn opened #121 "Refactor documentation"
## What is the problem

The current documentation requires more work. First, some of the implemented algorithms such as Apex-DQN, TD3, and SAC are not documented at https://docs.cleanrl.dev. Second, even the documented algorithm such as PPO does not have complete documentation: for example, the `ppo_atari_envpool.py` is not really documented. Third, there doesn't seem to be a single-source place t

[2022-02-22 15:42] vwxyzjn commented on #57
Closing this issue now. Docs site is already live at https://docs.cleanrl.dev

[2022-02-22 15:42] #57 closed, assigned to vwxyzjn, yooceii, dosssman

[2022-02-22 15:44] vwxyzjn commented on #116
See #118

[2022-02-23 00:14] vwxyzjn commented on #116
Closes by #118

[2022-02-23 00:14] #116 closed

[2022-02-27 04:28] vwxyzjn opened #123 "Re-think Open RL Benchmark."
I am thinking of re-doing the Open RL Benchmark that also includes benchmarks from other popular RL libraries, and CleanRL is just one of them. So we would have wandb and github projects like

* openrlbenchmark/cleanrl
* openrlbenchmark/baselines
* openrlbenchmark/sb3
* openrlbenchmark/tianshou
* openrlbenchmark/rllib

And the good thing is that anyone can use the recorded metrics in the Open RL B

[2022-02-28 04:44] yooceii commented on #117
Maybe also add I've run and corrected the file based on code style maybe google style by pylint and [yapf](https://github.com/google/yapf/)
The 4th subcheck in 5th check should be a must.

[2022-02-28 04:47] yooceii commented on #123
SGTM

[2022-02-28 15:38] vwxyzjn commented on #117
👍

Right now we have already adapted [black](https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html) as the code style, which conflicts with `yapf`.

Pylint seems doable. I have also noticed SB3 uses `flake8` to do the lining. Maybe we can open a separate issue to evaluate these two options.

[2022-02-28 15:46] vwxyzjn opened #127 "Add `rnd_ppo.py` documentation and refactor"
`rnd_ppo.py` is a bit dated, and I recommend refactoring it to match other PPO style, which would include:

- [x] change the name from `rnd_ppo.py` to `ppo_rnd.py`
- [x] use `from gym.wrappers.normalize import RunningMeanStd` instead of the implementing ourselves (note the implementation might be a bit different).
- [x] create a `make_env` function like https://github.com/vwxyzjn/cleanrl/blob/0b3f

[2022-03-09 10:22] dosssman opened #131 "Improving offline RL scripts"
## Problem Description // Current behavior
A reminder for the `cleanrl/offline` related issues mentioned in #130
1. SPS logging is missing (attempted to match #126 #130

2. Monitor cannot be imported anymore due to gym=0.23.0 update

3.  Tests for those two scripts are missing

4. Unlike dqn_atari, the wrappers are not imported from SB3

5. The offline-env-id that is required to load the dataset d

[2022-03-09 15:40] vwxyzjn opened #132 "Deprecating `apex_dqn_atari.py`"
## Problem Description

The current `apex_dqn_atari.py` cannot meet the level of performance in published results. Given about 4 hours of training time, ApeX-DQN published result significantly outperforms ours.

| Environment      | `apex_dqn_atari.py` [result](https://wandb.ai/cleanrl/cleanrl.benchmark/reports/Atari--VmlldzoxMTExNTI) | ApeX-DQN [Published result](https://arxiv.org/pdf/1803.00933.

[2022-03-09 15:55] vwxyzjn opened #133 "`dqn.py` does not respect seed"
## Problem Description

`python dqn.py --seed 1` could yield different results. See the following demo, where the first run yields `global_step=24830, episodic_return=245.0` and the second run yields `global_step=24975, episodic_return=178.0`.

[![asciicast](https://asciinema.org/a/475396.svg)](https://asciinema.org/a/475396)

[2022-03-09 17:45] vwxyzjn commented on #131
Hey @dosssman thanks for bringing this up. I think maybe we should remove these scripts from the main repo and put them in a separate branch. After all, we haven't done a thorough evaluation of these scripts to make sure of their implementation quality.

[2022-03-11 20:06] #133 closed

[2022-03-24 01:18] #132 closed

[2022-03-24 12:40] vwxyzjn opened #148 "Investigate ` nn.utils.clip_grad_norm_` for DQN, DDPG, and TD3"
## Problem Description

Compared to the original implementations, our DQN, DDPG, and TD3 implementations additionally do global gradient clipping, a code-level optimization done in PPO. It is unclear if global gradient clipping offers real performance benefits, so we should look into it and remove it if necessary.

- [ ] `dqn_atari.py`
- [ ] `ddpg_continuous_action.py`
- [ ] `td3_continuous_action

[2022-04-06 08:04] dosssman commented on #148
-[ ] `sac_continuous_action.py`
Queued up some runs for comparison here:

https://wandb.ai/openrlbenchmark/openrlbenchmark/reports/-TMP-MuJoCo-CleanRL-s-SAC-Grad-norm-check--VmlldzoxNzk2OTQ1

[2022-04-07 07:49] dosssman commented on #148
:hourglass: `ddpg_continuous_action.py` [WANDB Tracking](https://wandb.ai/openrlbenchmark/openrlbenchmark/reports/-TMP-MuJoCo-CleanRL-s-DDPG-Grad-norm-check--VmlldzoxODAyODYx)
:hourglass:  `td3_continuous_action.py` [WANDB Tracking](https://wandb.ai/openrlbenchmark/openrlbenchmark/reports/-TMP-MuJoCo-CleanRL-s-TD3-Grad-norm-Check--VmlldzoxODAyODE2)

[2022-04-09 03:58] Jackory opened #155 "KeyError: "terminal_observation" in dqn.py"
## Problem Description
when I run cleanrl/dqn.py, an error occurred：
in line 174：
![image](https://user-images.githubusercontent.com/52418786/162555376-9f827af6-3bfc-4f54-8d8c-f2ab1c443037.png)

My package version is here:
torch==1.7.1
gym==0.18.3
stable_baselines3==1.10

[2022-04-09 17:39] vwxyzjn commented on #155
Please use the latest gym. Our master pins gym==0.23.1.

To avoid having this problem I also suggest using `poetry install`. See https://docs.cleanrl.dev/get-started/installation/

[2022-04-09 17:39] #155 closed

[2022-04-09 20:44] vwxyzjn opened #156 "Investigate DQN"
## Problem Description

## Current Behavior

## Expected Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

[2022-04-10 22:05] vwxyzjn commented on #117
Closed by #154

[2022-04-10 22:05] #117 closed

[2022-04-16 19:20] #14 closed

[2022-04-21 14:03] vwxyzjn opened #167 "Various minor PPO refactors"
## Problem Description

A lot of the formatting changes are suggested by @Howuhh

### 1. Refactor on `next_done`
The current code to handle `done` looks like this

[code]

which is fine, but when I tried to adapt isaacgym it became an issue. Specifically, I thought the `to(device)` code is no longer needed so just did

[code]

but this is wrong because I should have done `next_done = done`. The cu

[2022-04-24 01:16] vwxyzjn opened #168 "Also log `episodic_length` for non-PPO scripts."
## Problem Description
We should also log `episodic_length` for non-PPO scripts. That is we do the following for PPO

https://github.com/vwxyzjn/cleanrl/blob/5184afc2b7d5032b56e6689175a17b7bad172771/cleanrl/ppo.py#L213-L214

but in `dqn.py` we don't do this:

https://github.com/vwxyzjn/cleanrl/blob/5184afc2b7d5032b56e6689175a17b7bad172771/cleanrl/dqn.py#L167-L170

[2022-04-24 23:24] vwxyzjn commented on #123
I put up a draft document here: https://docs.google.com/document/d/1cDI_AMr2QVmkC53dCHFMYwGJtLC8V4p6KdL2wnYPaiI/edit?usp=sharing

[2022-04-24 23:26] vwxyzjn opened #171 "Seed issue with `dqn.py` and others"
## Problem Description

Currently, `dqn.py` and other scripts incorrectly set the environment seed to be always 0

https://github.com/vwxyzjn/cleanrl/blob/a1b5b71134d7a576992488d7f42cb75f68117243/cleanrl/dqn.py#L69-L81
https://github.com/vwxyzjn/cleanrl/blob/a1b5b71134d7a576992488d7f42cb75f68117243/cleanrl/dqn.py#L135

The correct implementation should be

[code]

[2022-04-24 23:30] vwxyzjn opened #172 "TD3 should also log losses for `qf2`"
## Problem Description

Currently, TD3 only logs losses for `qf1` but does not log losses for `qf2`, we should fix this.

[2022-04-25 22:11] #28 closed

[2022-04-25 22:20] #131 closed

[2022-04-27 08:20] ElliotMunro200 opened #175 "Please specify in readme.md that is for Python3.8-3.9. 3.8+ is misleading because 3.10 leads to problems"
## Problem Description

## Current Behavior

## Expected Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

[2022-04-27 09:08] ElliotMunro200 opened #176 "Wrong direction in readme.md file"
## Problem Description

This command in the README.md in cleanrl/benchmark/ddpg/ is wrong: "# reproduce the MuJoCo experiments bash cleanrl/ddpg/mujoco.sh"

## Current Behavior

Can't find the expected files

## Expected Behavior

## Possible Solution

Probably due to refactoring of the repository

## Steps to Reproduce

1.
2.
3.
4.

[2022-04-27 12:39] vwxyzjn commented on #175
Hey @ElliotMunro200  thanks for reporting. Would you have the bandwidth to submit a PR to fix this? If not no worries I can do it.

[2022-04-27 13:40] vwxyzjn commented on #176
Thanks for the reported error. The specific file you are looking for is https://github.com/vwxyzjn/cleanrl/blob/master/benchmark/ddpg/mujoco.sh

We are addressing this in a better way in https://github.com/vwxyzjn/cleanrl/pull/173. Stay tuned :)

[2022-05-02 03:39] vwxyzjn commented on #148
See https://github.com/vwxyzjn/cleanrl/pull/173#issuecomment-1114455961

[2022-05-03 06:46] ElliotMunro200 commented on #175
I'm very new with Git and Github but I've forked the project and created a PR. Hope it works fine.

[2022-05-04 23:09] #175 closed

[2022-05-09 16:16] vadim0x60 opened #179 "SAC doesn't work"
## Problem Description

Soft Actor-Critic (`sac_continuous_action.py`) just doesn't work. I have tried different envs, it doesn't matter

## Current Behavior

[code]

[code]

## Expected Behavior

[code]

[code]

## Possible Solution

Not sure. I think `gym.vector.SyncVectorEnv` handles action spaces incorrectly. The docstring says it chooses the action space of the first of the subenvironments, b

[2022-05-09 21:19] #148 closed

[2022-05-09 21:19] #168 closed

[2022-05-09 21:19] #171 closed

[2022-05-09 21:19] #172 closed

[2022-05-09 21:28] vwxyzjn commented on #179
Thanks for raising the issue. This seems to be a simple fix to just replace the `action_space` with `single_action_space`. @dosssman would you mind taking a look at this? Does this impact our benchmark results?

[2022-05-10 03:31] vwxyzjn commented on #179
Wait, I just tested the code and it works just fine.

[code]

[2022-05-10 04:30] dosssman commented on #179
Also working as expected on my side.
Maybe a dependency problem ? Or an older branch ?

[2022-05-10 06:22] hlsfin opened #182 "multi-gpu implementation for PPO"
I would like to incorporate multi-gpu in the learning pipeline, and I am not sure how to go about this. Care to provide some helpful hint?

[2022-05-10 12:30] vwxyzjn commented on #179
Yeah I added a checklist item in the issue item saying please make sure to install dependencies correctly via `poetry install`. See #180

[2022-05-10 12:42] vwxyzjn commented on #182
See #178.

[2022-05-10 13:48] #179 closed

[2022-05-10 14:42] vwxyzjn commented on #156
closed by #173

[2022-05-10 21:28] vwxyzjn opened #183 "Add pre-commit for Markdown formatting"
## Problem Description

We could add the `prettier` pre-commit utilty to help format all the markdown files.

[code]

[2022-05-12 03:42] vwxyzjn opened #184 "Adopt tensorboard native hyperparameters recording"
## Problem Description

The current way of adding hyperparameters is to do it via markdown text:

[code]

It is however to use the tensorboard native hyperparameters plugin, which unfortunately also has ugly code... see https://github.com/pytorch/pytorch/issues/37738#issuecomment-1124497827

[code]

## Checklist
- [x] I have installed dependencies via `poetry install` (see [CleanRL's installation

[2022-05-12 18:31] kevinzakka opened #185 "[Request] Dexterous Manipulation Benchmark"
Hey Costa,

Been working on some dexterous manipulation tasks and looking for feedback on how to improve the physics parameters / reward values. Was curious if you'd be down to run some experiments together :)

Here's a link to the repo: https://github.com/kevinzakka/dexterity

[2022-05-13 02:27] vwxyzjn commented on #185
Hi @kevinzakka,

Thanks for reaching out! This looks really cool. Does dexterity have a gym API by any chance? I'd be happy to help.

[2022-05-13 02:41] kevinzakka commented on #185
@vwxyzjn Unfortunately not, I'm trying to stay away from that API as it seems the devs like to keep making breaking changes :| I've used a dmc2gym wrapper for testing and it works fine though :)

[2022-05-13 02:43] kevinzakka commented on #185
In terms of making this as accessible as possible to the community, do you think I should provide a wrapper in the package itself or is pointing to an open-source converter OK?

[2022-05-13 03:19] vwxyzjn commented on #185
That's understandable. I think maybe having a converter example would be helpful (either you implement it or use dmc2gym)

I am trying some open source wrapper here but they don't seem to work so well...

https://gist.github.com/vwxyzjn/18e1685945f3724a605fcf0d5730bfa5

[2022-05-13 10:21] araffin commented on #184
You may have a look at https://github.com/DLR-RM/stable-baselines3/issues/428#issuecomment-1124815614 too

[2022-05-13 17:36] kevinzakka commented on #185
I'll take a look this weekend, thanks @vwxyzjn !!

[2022-05-20 05:14] #182 closed

[2022-05-25 12:07] vwxyzjn commented on #185
Hey just following up with this: anything I can help?

[2022-05-25 16:22] kevinzakka commented on #185
Hey @vwxyzjn, going to close this for now -- got something up and running without a dmc2gym conversion. Slightly busy in the next couple of weeks, so I'll keep you posted if/when I try to create the benchmark policies for the tasks.

Cheers!

[2022-05-25 16:22] #185 closed

[2022-05-25 16:27] vwxyzjn commented on #185
That sounds good! Your project looks really interesting and let me know if there is anything I can help.

[2022-05-28 13:53] vwxyzjn commented on #176
Closed by #173

[2022-05-28 14:24] vwxyzjn commented on #123
Closed in favor of https://github.com/openrlbenchmark/openrlbenchmark

[2022-05-28 14:24] #123 closed

[2022-06-01 23:55] #121 closed

[2022-06-03 15:04] cool-RR opened #191 "Broken links in readme"
The readme has links to docs of e.g. PPO. These links are broken.

[2022-06-03 15:04] cool-RR commented on #191
Example broken link: https://github.com/vwxyzjn/cleanrl/blob/master/rl-algorithms/ppo/#ppo_continuous_actionpy

[2022-06-05 19:00] vwxyzjn commented on #191
Thanks so much for reporting the issue. The links should be fixed by #192

[2022-06-05 19:00] #191 closed

[2022-06-10 08:01] huxiao09 opened #196 "DDPG/TD3 policy network output clip"
## Problem Description
It seems that the output of policy (actor) network in DDPG/TD3 has been clipped to fit the action range boundaries. But in Fujimoto's DDPG or TD3 code[1] and some other implementations, the **tanh** function is add to the output layer in actor networks to fit the action range, and they don't use **clip**. Have u ever tried the **tanh** implementation? Intuitively the **tanh*

[2022-06-10 16:23] vwxyzjn commented on #196
Thanks for raising this issue. I  think you are referring to https://github.com/sfujim/TD3/blob/385b33ac7de4767bab17eb02ade4a268d3e4e24f/TD3.py#L28? Yeah this is a bit of a problem. That said, it's fine in MuJoCo because `max_action` is just 1.

[2022-06-10 19:59] cool-RR opened #197 "CleanRL can't be used by importing?"
Hi @vwxyzjn !

Jordan recommended that I use CleanRL when working with Petting Zoo, and it took me a bit to figure out something. Let me know whether I understand correctly. CleanRL isn't meant to be imported and used directly, like SB3. It's supposed to have reference implementations of algorithms which developers could copy off to their own program and tweak as necessary to serve their needs.

I

[2022-06-10 21:42] Howuhh opened #198 "PPO timeout proper handling"
Hi! I'm a bit puzzled as to how a timeout could be handled correctly in your implementation of PPO (well, this is relevant for all variants). I am especially surprised by envpool, because seems like they do not return the last real state at all (like gym vec envs do in `info`).

Were there any ideas on how to do it right? I'd like to make a PR with that fix, but I haven't figured out how yet. Buff

[2022-06-10 23:14] vwxyzjn commented on #197
Hi, @cool-RR thanks for raising this issue. You are absolutely correct that CleanRL cannot be imported. Does  https://github.com/vwxyzjn/cleanrl/blob/b0d00df8b926617651638923e622b51c0b477305/README.md better than clarify this?

CleanRL doesn't really support this, unfortunately. For the `import PPO` use cases, we'd recommend checking out Stable-baselines3 (SB3) which is a great modular library.

T

[2022-06-10 23:40] vwxyzjn commented on #198
Proper timeout handling is definitely an interesting issue I want to look into further. I think the best resource is https://github.com/DLR-RM/stable-baselines3/pull/658. Happy to take a look into this together :)

If you are submitting a fix PR, I highly suggest doing it just on `ppo.py` to show a proof-of-concept before applying the changes to other PPO variants.

[2022-06-11 00:42] Howuhh commented on #198
Thanks for the link! I'll take a look and see what I can come up with.

[2022-06-11 02:05] huxiao09 commented on #196
Yep. I still highly suggest you adopt Fujimoto's implementations, because in some MuJoCo environments (like Humanoid-v2) and some other environments the **max_action** may not be 1.

And I also highly suggest you add the implementation of **pytorch network model saving** to each of your single file, and then write a separate single file that loads the network model and tests it in the correspondin

[2022-06-11 07:41] cool-RR commented on #197
Thanks for the quick PR, I commented there.

I understand, thanks.

[2022-06-11 23:19] Howuhh commented on #198
After some thinking and sketching on a piece of paper, it seems to me that it could be solved this way (just proposal for now):
[code]
This small rearrangement, of course, would require separately handling the last state after num_steps, since we need it to bootstrap the last transition, but it could be done in similar way. GAE computation then would be unchanged at all!

The main point here is th

[2022-06-12 03:42] vwxyzjn commented on #198
Thanks for the sketch. I think it's a little tricky though so I wrote down what the variables look like as below ([link](https://docs.google.com/spreadsheets/d/1XEFDNaJQ4bryBxulOkfpmsKi7eOeutGHqIQO2_bzhqc/edit?usp=sharing))

<img width="419" alt="image" src="https://user-images.githubusercontent.com/5555347/173213321-ce122a84-1f0e-4307-a5e1-e5c9e308a58f.png">

I think the correct implementation is

[2022-06-12 10:42] Howuhh commented on #198
After thinking a bit more, it seems that my implementation is not correct because it will not correctly account for the done flag in GAE (`last_gae_lam` in example 2 from @Miffyli in https://github.com/DLR-RM/stable-baselines3/issues/633, while `delta` computation will be ok) so your version is more correct.

I don't like the fact that we're implicitly changing the rewards, though, since in other

[2022-06-12 13:41] vwxyzjn commented on #198
That's a good point. One way we could address is to create another storage variable `terminal_values` with the same shapes as `values`, and we can utilize this `terminal_values` during the return and advantage calculation.

Also a quick note: the new gym API for truncation is coming soon https://github.com/openai/gym/pull/2752. Ideally we should be prototyping using the new API.

One issue with th

[2022-06-12 15:05] vwxyzjn commented on #198
Here is a more complete walkthrough

<img width="798" alt="image" src="https://user-images.githubusercontent.com/5555347/173239509-42d92c55-a36e-4030-812c-9dcbecd3c85a.png">

[2022-06-14 14:48] vwxyzjn commented on #196
Thanks for the suggestion! Fixing the `max_action` issue with the actor makes sense to me.

Model saving on the other hand is a bit more nuanced. For example,  [ppo_continuous_action.py](https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/ppo_continuous_action.py) technically also needs to save the running mean and standard deviations stored in the environment wrappers. Because of these complic

[2022-06-15 00:24] #176 closed

[2022-06-15 00:24] #30 closed

[2022-06-15 13:09] vwxyzjn opened #202 "License issues"
## Problem Description
While CleanRL is standalone and licensed under MIT, it does depend on more copyleft dependencies like GPL. See #201 or https://app.fossa.com/reports/fdbf4b3e-435b-4db2-bc6b-57296284358f

<img width="523" alt="image" src="https://user-images.githubusercontent.com/5555347/173834708-d0f84067-726f-450d-95f1-3d9559a78b45.png">

Since we are not modifying these GPL codes so I thin

[2022-06-18 13:51] #197 closed

[2022-06-19 17:04] Howuhh opened #203 "PPO reward normalization works only for default gamma"
## Problem Description
Current implementation of continuous action PPO uses `gym.wrappers.NormalizeReward` with default gamma value, for all other gamma's except default `0.99` this normalization will be not correct.
https://github.com/vwxyzjn/cleanrl/blob/94a685de9290435623d7cf5e4e770418ddb10a4f/cleanrl/ppo_continuous_action.py#L92

## Possible Solution
Very easy, just add `gamma=args.gamma` as a

[2022-06-19 17:10] Howuhh commented on #203
If this is really a problem I will make a fix PR.

[2022-06-19 20:08] vwxyzjn commented on #203
Oh this makes sense! Thanks for raising the issue. I think ppo_procgen.py and ppg_procgen.py also use the reward normalization - feel free to submit a PR to fix them.

[2022-06-20 14:01] vwxyzjn opened #206 "PPO improvements"
## Problem Description

The current PPO implementations can be improved in the following way.

### changes that do not involve performance change
- [x] #207
- [x] #203
- [ ] #167

### changes that do involve performance change (require re-running openrlbenchmark)
- [ ]  #198
- [ ] #208

[2022-06-20 14:01] vwxyzjn opened #207 "Removing the regular advantage calculation in PPO"
# Problem description.

The regular advantage calculation in PPO is a special case of the GAE advantage calculation when `gae_lambda=1` - we empirically demonstrate this with the debugging output in the bottom. Based on this result, we should remove

https://github.com/vwxyzjn/cleanrl/blob/94a685de9290435623d7cf5e4e770418ddb10a4f/cleanrl/ppo.py#L232-L242

## Debugging output

[code]

[2022-06-20 14:07] vwxyzjn opened #208 "Remove the value function clipping"
# Problem description

Per [Andrychowicz, et al. (2021)](https://iclr-blog-track.github.io/2022/03/25/ppo-implementation-details/#Andrychowicz) and anecdotal evidence, value function clipping is not useful. Hence we should remove the following code.

https://github.com/vwxyzjn/cleanrl/blob/94a685de9290435623d7cf5e4e770418ddb10a4f/cleanrl/ppo.py#L283-L291

We should do it with great care - conducti

[2022-06-20 14:11] Howuhh commented on #207
Yup, this can be also easily verified from the GAE computation formula, with `gae_lambda=1` all terms besides needed for `n_step_returns` will cancel out

[2022-06-20 14:22] vwxyzjn commented on #196
@dosssman This is indeed a much larger problem - I just tested it out and there is a number of environments that do not have 1 as the default `max_action`.

[code]

@huxiao09 would you be interested in submitting a fix for this and going through the process of re-running benchmarks? Otherwise, no worries - we will take care of this.

[2022-06-20 14:36] huxiao09 commented on #196
Sure, it's my pleasure. But I am busy this week. I'm afraid I can only try my best to finish it in two weeks. Is that too late?

[2022-06-20 14:39] dosssman commented on #196
Thanks for the heads up. Will look into this.

[2022-06-20 15:10] vwxyzjn commented on #196
Two weeks is actually a great timeline. Thank you @huxiao09 for your interest in working on this!

The process would go like this
1. file a PR to make the changes with the `max_action`
2. we agree on the changes
3. have you join our wandb team `openrlbenchmark` that tracks all of our benchmark experiments
4. run the following benchmark scripts
https://github.com/vwxyzjn/cleanrl/blob/6387191dbee749

[2022-06-20 15:13] dosssman commented on #196
SAC should be unaffected as the actions are scale to the min, max actions before being returned to the algorithm.

Android 版 Outlook<https://aka.ms/ghei36> の入手
________________________________
From: Costa Huang ***@***.***>
Sent: Tuesday, June 21, 2022 12:10:28 AM
To: vwxyzjn/cleanrl ***@***.***>
Cc: Rousslan F.J. Dossa ***@***.***>; Mention ***@***.***>
Subject: Re: [vwxyzjn/cleanrl] DDPG/TD3 tar

[2022-06-20 15:35] Howuhh opened #210 "Adding Average Reward PPO proposal"
Although it is now common to solve most problems using discounted reward, this does not always correspond to the real problem (not episodic, long-horizon), where it is important to use algorithms that optimize the average reward.

There are only two adaptations of modern algorithms for average-reward setting: [A-TRPO](https://proceedings.mlr.press/v139/zhang21q/zhang21q.pdf), [A-PPO](https://arxiv

[2022-06-20 15:41] huxiao09 commented on #196
ok, get it :)

[2022-06-20 15:50] Howuhh commented on #210
Yes, but it will take some time, especially documentation and testing. I think it would be reasonable to start from `apo_continuous_action.py` and compare it only with `apo_continuous_action.py` as a test.

[2022-06-20 16:11] huxiao09 commented on #196
Yes, I have already had an account: https://wandb.ai/huxiao .  But it seems that discord can't be open in my region. I'll find how to solve this problem tomorrow.

[2022-06-21 00:21] dosssman commented on #196
Preliminary fix tracked [here](https://wandb.ai/openrlbenchmark/openrlbenchmark/reports/MuJoCo-CleanRL-s-TD3-Action-Bound-Fix-Check--VmlldzoyMjAwMjM5).

[2022-06-24 02:19] AdityaGudimella opened #215 "PPO with Humanoid"
## Problem Description
PPO doesn't learn on Humanoid

## Checklist
- [x] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [x] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl/issues) in the repo (required)

## Current Behavior
PPO doesn't seem to learn on the Humanoid-

[2022-06-24 02:23] vwxyzjn commented on #215
Thanks for raising this issue. Yes, this is expected. See our benchmark on openai/baselines. https://wandb.ai/openrlbenchmark/openrlbenchmark/reports/MuJoCo-openai-baselines--VmlldzoyMTgyNjM0

<img width="696" alt="image" src="https://user-images.githubusercontent.com/5555347/175449330-1d5feb6b-10d2-4721-a529-a8cfdcbc16c9.png">

It is possible to get much better performance with a different set of

[2022-06-24 03:42] AdityaGudimella commented on #215
Thank you so much for the prompt response. I will close the issue then. And thank you for providing the other set of hyperparameters and the envpool suggestion. That is very useful.

[2022-06-24 03:42] #215 closed

[2022-06-24 13:09] vwxyzjn commented on #196
I changed the run set name to as follows (customize the advanced legend to be `${runsetName}`.

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/5555347/175541483-9a1d221f-b6ef-492d-82fc-889c5b9afe1a.png">

Could you do the following
- [ ] remove the new `td3_continuous_action_bound_fix.py` experiments with `HalfCheetah-v2` (since its action space's bound is -1, +1)
- [

[2022-06-25 15:00] dosssman commented on #196
Thank you very much for the feedback.
Will fix and add re-runs just to be sure.

[2022-06-25 15:03] vwxyzjn commented on #196
Thank you Rousslan. Please remove the experiments or move them to cleanrl-cache project - the stale experiments should not remain in the openrlbenchmark/cleanrl​.
________________________________
From: Rousslan F.J. Dossa ***@***.***>
Sent: Saturday, June 25, 2022 11:00:27 AM
To: vwxyzjn/cleanrl ***@***.***>
Cc: Costa Huang ***@***.***>; Comment ***@***.***>
Subject: Re: [vwxyzjn/cleanrl] DDPG/TD3

[2022-06-25 15:06] dosssman commented on #196
No worries. Will do.
I tweak the last two lines @huxiao09 mentioned and re-runs the experiment to be sure there is no side-effect, then clean up the benchmark project structure and update the docs.

Should get it done by the next Tuesday or Wednesday.
Thanks.

[2022-06-25 15:07] dosssman commented on #196
Let's just keep those old experiments to compare with the last variant.
Once the latest one is validated, I can clean up all the previous variant and re-run "td3_continuous_action.py" to prevent future confusions.

[2022-06-26 02:01] dosssman commented on #196
re-runs are looking good so far, not much difference with the previous iterations.
@vwxyzjn It seems I will have to trouble you regarding the archival / removal of the olds td3 and ddpg runs. Wandb mentions missing permissions when I tried to either move the runs to the cleanrl-cache project or just delete them, before queuing up clean "td3_continuous_actions.py" and "ddpg_continuous_actions.py" r

[2022-06-26 19:46] vwxyzjn opened #216 "Prototype TD3 with JAX"
## Problem Description

Given the incredible performance of the DDPG + JAX prototype (#187), it's worth prototyping TD3 + JAX as well. @joaogui1 is super experienced with JAX and has expressed interest in working on this. Thanks @joaogui1 for your interest! This issue tracks the development effort.

I suggest extending the DDPG prototype [link](https://github.com/vwxyzjn/cleanrl/blob/ee80f6bb8cd14

[2022-06-27 14:58] vwxyzjn opened #218 "JAX Integration with CleanRL"
## Problem Description
Given the incredible performance of the DDPG + JAX prototype (https://github.com/vwxyzjn/cleanrl/pull/187), it's worth prototyping JAX with other algorithms as well! This issue tracks the overall progress of integrating JAX with CleanRL.

### Useful resources

* (a working JAX + DDPG example as a reference implementation) https://github.com/vwxyzjn/cleanrl/pull/187
    * Cle

[2022-06-27 14:59] vwxyzjn opened #219 "JAX + TD3"

[2022-06-27 14:59] vwxyzjn opened #220 "JAX + DQN"
See #218. @yooceii and @kinalmehta have expressed interest in working on this. @kinalmehta is also interested in C51 (#221).

@kinalmehta if working with DQN first helps with working on C51, feel free to also work on this issue (saying this because usually working with DQN helps with "warm-up"). That way we will have two DQN PR from both you and @yooceii, and we can review and reconcile the differ

[2022-06-27 14:59] vwxyzjn opened #221 "JAX + C51"
@kinalmehta has expressed interest in working on this.

[2022-07-01 14:41] stefan-hdt commented on #202
Generally, if you do not change components under copyleft licenses (e.g. GPL-2.0) you do not have to provide the (changed) source code. But using your component "CleanRL" together with dependencies under copyleft licenses might make it necessary to license the combination under the copyleft license. This is especially the case for licenses with a strong copyleft clause.

[2022-07-05 12:33] vwxyzjn commented on #202
Thank you for this thought - am I fine still licensing CleanRL itself under MIT?

[2022-07-06 13:59] stefan-hdt commented on #202
Yes, you are fine licensing CleanRL unter MIT. This gives anyone who wants to use your software a lot of flexibility - if that is what you intend to achieve.

As long as you look at the source code of your program the MIT license is the only license which applies. But when you link your code to a component under GPL-2.0 and compile it, the result (object code) will be only under GPL-2.0.

[2022-07-07 13:29] Howuhh commented on #203
Fixed.

[2022-07-07 13:29] #203 closed

[2022-07-19 21:44] vwxyzjn opened #237 "Slow `poetry` dependency locking time, and resolution"
## Problem Description
Dealing with `poetry lock` is no fun. When you have thousands of dependencies, `poetry lock` could take 5-10 hours. #235 #236 use CI servers to help with this unfortunate poetry side effect.

See https://github.com/john-sandall/poetry-speed-test for more info.

[2022-07-22 00:00] vwxyzjn opened #239 "Replace cloud utilities w/ `torchx`"
## Problem Description

Pytorch recently announced a universal job launcher called torchx (https://pytorch.org/torchx/latest/), which supports launching jobs at AWS batch, docker, k8s, and more.

We should adopt `torchx`, which perfectly replaces our cloud experiments submission utilities (https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl_utils/submit_exp.py).

[2022-07-25 12:36] fuyw opened #240 "A question about the `PPO` algorithm"
Many thanks for the nice repo.

I have a question about the PPO algorithm, where we sample action from policy using `a ~ Normal(mu, std)`.

Why don't we care about the action bounds as we do in SAC? Since the sampled action `a` is unbounded?

[2022-07-25 12:44] Howuhh commented on #240
We care, but not in the agent, action will be clipped within the wrapper:
https://github.com/vwxyzjn/cleanrl/blob/1099a5172c8d0d12b33e52013a799b1a3cc07fcc/cleanrl/ppo_continuous_action.py#L89

[2022-07-26 06:12] yooceii commented on #127
![image](https://user-images.githubusercontent.com/19211761/180935876-9bf625d3-6002-4217-b86b-827495035e4a.png)
Finally got a finished run and looks close to their blog's result
![image](https://user-images.githubusercontent.com/19211761/180935998-53853d43-44ff-416f-8bc6-1d02be6e0b95.png)

[2022-07-26 13:35] vwxyzjn commented on #127
Oh wow, this is really nice! How long did the experiment take?

[2022-07-26 19:33] fuyw commented on #240
I noticed that if we remove the `gym.wrappers.ClipAction` and directly clip the actions after we sample from the policy. Then the PPO algorithm runs poorly.

Here, the only difference is that does the PPOBuffer contain unclipped actions. In the later case, the PPOBuffer only contains clipped actions and some wrong `lop_prob` values lead to instabilities.

In the former case, the PPO agent learns f

[2022-07-26 20:06] Howuhh commented on #240
Why it is unwanted? If you need a bounded distribution, you can always use Beta distribution instead of Normal.

[2022-07-26 20:13] fuyw commented on #240
It's unwanted because it is out of the action limit of the environment, i.e., mujoco. Using Beta distribution would be a nice choice, though which is less popular in existing PPO implementations.

[2022-07-27 04:19] yooceii commented on #127
Almost 11 days with envpool and 1080.

[2022-07-27 11:15] Jogima-cyber opened #244 "AsyncVectorEnv"
Hello, I was wondering why not use AsyncVectorEnv instead of SyncVectorEnv ? I don't see any reasons trajectories should not be parallelized.

[2022-07-27 12:24] vwxyzjn commented on #244
Good question! SyncVectorEnv is just easier to debug, but we can definitely use AsyncVecEnv.

[2022-07-27 12:26] Jogima-cyber commented on #244
Thanks, just wanted to have your opinion on the subject. I will run some tests with it then.

[2022-07-27 12:26] #244 closed

[2022-07-27 12:33] vwxyzjn commented on #244
FYI - if you want to add it, feel free to submit a PR incorporating a flag like this:

https://github.com/vwxyzjn/vectorized-value-methods/blob/65b4745198c77d9b252ac90f373d9ad019003d9f/ppo_continuous_action.py#L48-L49

[2022-07-31 13:10] merak0514 opened #245 "Adding TRPO implementation"
TRPO is a famous and powerful tool in RL. Although it does not have many practical uses these days, it is very helpful for a learner to read a good implementation of TRPO.

[2022-07-31 20:42] vwxyzjn commented on #245
Hi, @merak0514 thank you for raising this issue. Indeed it would be good to have TRPO as well. I personally won't have much time doing this but you and others are welcome to give it a try.

[2022-07-31 20:44] vwxyzjn commented on #127
Oh wow that’s taking a really long time. I think given the insane amount of computing required, running it for three random seeds might not be necessary…

[2022-07-31 22:36] yooceii commented on #127
Yeah, I also don't want to spend so much time running it lol.

[2022-08-02 10:24] nyp0x opened #247 "Poetry can't install torch nightly"
I tried to install the latest torch v1.13 with m1 mac gpu support,
`torch = {file = "/path/to/torch-1.13.0.dev20220802-cp38-none-macosx_11_0_arm64.whl"}`
but it seems poetry can't handle it properly:
[code]

[2022-08-02 13:55] DavidSlayback opened #248 "Adding Hierarchical RL Algorithms"
Hi, I'm a PhD student doing work in hierarchical reinforcement learning (specifically [Option-critic-based algorithms](https://arxiv.org/abs/1709.04571)), and I've found this repository to be a particularly helpful starting point when trying to prototype my algorithms!

I was wondering if there was any interest in having option-critic (or other HRL) baselines in this repository? I have a few in a

[2022-08-02 14:16] Hannibal046 opened #249 "RL Formulation"
Hi, I am a newbie for RL. And I am wondering if the following scenario can be framed as a RL problem ?
[code]
Should this be framed as a RL problem ? Since the action space is not fixed. Do you have any insight ? Thanks so much !!

[2022-08-02 14:52] vwxyzjn commented on #249
Hi this sort of general RL questions are not directly linked to CleanRL and should be discussed elsewhere like RL discord https://discord.gg/vjer7PZGc6.

[2022-08-02 14:52] #249 closed

[2022-08-02 14:54] vwxyzjn commented on #247
Thanks for reporting. You can always do `poetry run pip install …wheel`. This week I don’t have my laptop but I can take a further look next week.

[2022-08-02 15:26] vwxyzjn commented on #248
Hi David, thanks for considering making a contribution. We would definitely be interested in having HRL algorithms. Please check out our [contribution guide](https://github.com/vwxyzjn/cleanrl/blob/master/CONTRIBUTING.md)

The main things I am looking for are 1) single file implementations (minimal lines of code), 2) documentation explaining notable implementation details, 3) benchmarking and matc

[2022-08-03 13:22] AshwinSankar17 opened #250 "Adding Double DQN"
## Problem Description
Hi I would like to add the double DQN algorithm to cleanrl. Can someone give me the go-ahead?

[2022-08-03 13:37] vwxyzjn commented on #250
Hi @iamunr4v31, feel free to do it. Thanks for considering making a contribution. Please check out our [contribution guide](https://github.com/vwxyzjn/cleanrl/blob/master/CONTRIBUTING.md) for the usual process.

The main things I am looking for are 1) single file implementations (minimal lines of code), 2) documentation explaining notable implementation details, 3) benchmarking and matching the pe

[2022-08-05 00:32] edlanglois opened #251 "Poetry install fails with "isaacgymenvs (rev poetry) is not satisfied""
## Problem Description
Running `poetry install` (on master @ `df3ab2a`) fails with the message
[code]

## Checklist
- [ ] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [X] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl/issues) in the repo (required)

## Current Be

[2022-08-05 01:01] vwxyzjn commented on #251
Did you follow the steps here https://docs.cleanrl.dev/rl-algorithms/ppo/#ppo_continuous_action_isaacgympy

[2022-08-05 01:20] vwxyzjn commented on #251
Also note Isaac gym strictly supports python <= 3.8.11

[2022-08-05 01:30] edlanglois commented on #251
I'm not intending to use Isaac gym, I just tried removing the dependencies from pyproject.toml and was able to get cleanrl to install that way. It looks like you intended for Isaac gym to be an optional dependency but the default install seems to require it.

[2022-08-05 05:07] vwxyzjn commented on #251
Hmm on CI the installation passes and it looks like this could be a poetry solver bug. See https://github.com/python-poetry/poetry/issues/5311#issuecomment-1094402541. What poetry version are you using?

[2022-08-05 05:07] vwxyzjn commented on #251
Thanks for reporting this!

[2022-08-05 16:42] edlanglois commented on #251
NP, thanks for the great software and all the work analyzing RL implementations! I was using poetry 1.1.14. I tried 1.2.0b3 and the install worked, so it is indeed an issue with poetry.

[2022-08-05 16:42] #251 closed

[2022-08-05 18:03] vwxyzjn opened #252 "Adding unit tests"
## Problem Description
A much requested inclusion in the library is to add unit tests. Among other things, "the key benefit of unit tests is to make sure the logic is correct, rather than just looking at black box outputs (does it run? does the loss go down?)"

As such, it is desirable to include unit tests to CleanRL, but I would like to done it in a way that does not change our current file stru

[2022-08-06 19:57] qsh-zh opened #255 "DQN on MountainCar"
<details>
<summary>Details</summary>

</details>

## Problem Description

Pytorch DQN fails on MountainCar. Try two settings in [the issue](https://github.com/vwxyzjn/cleanrl/issues/156)

## Checklist

- [x] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [x] I have checked that there is no similar [i

[2022-08-06 20:00] vwxyzjn commented on #255
Hello, thanks for reporting. Could you check if your performance match the reported performance in the docs? https://docs.cleanrl.dev/rl-algorithms/dqn/#experiment-results_1

[2022-08-06 21:12] qsh-zh commented on #255
@vwxyzjn Thanks for your fast response. I think the performance almost matches what we have in the docs.

Except for the second random seed, seed=1/3 has a very similar behavior in my experiments.

Do you think the unsatisfying is due to suboptimal hyperparameters? Or DQN can not do well in the challenging env?

Thanks,

[2022-08-06 21:32] vwxyzjn commented on #255
Yeah it is unsatisfactory. We always welcome new contributors! If you are interested in trying out https://github.com/vwxyzjn/cleanrl/pull/228 to find a set of params that work well for `CartPole-v1`, `MountainCar-v0`, and `Acrobot-v1`, that will be great.

[2022-08-12 17:32] Bam4d opened #256 "Bug"
## Problem Description

In many CleanRL scripts, a timestamp is used as a differentiator in the naming of the jobs:

https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/ppo.py#L134

In some very rare cases (when running on a slurm cluster or Sun Grid Engine for example) two scripts may be executed within a second of each other and end up with the same timestamp.

If a shared drive is used to st

[2022-08-13 19:44] AdityaGudimella opened #258 "Add TQC to CleanRL"
## Problem Description
Would you be interested in adding Truncated Quantile Critics to CleanRL? If so I can work on a PR.

If you are interested, then I have a few questions:
1. Is it okay if I use the new gym.Env api where `env.step` returns `obs, reward, terminated, truncated, info` instead of `obs, reward, done, info`?
2. Is it okay if I deviate slightly from the style followed by the other alg

[2022-08-14 19:12] vwxyzjn commented on #258
Hi, @AdityaGudimella thanks for your interest in contribution! We would definitely be interested in the TQC contribution.

It's ok but note the merging timeline may be considerably delayed because of this. Because `poetry` only supports using a single version for `gym`, we would need to make sure other scripts at least run with the latest gym. Judging by the list of things gym recently breaks, it'

[2022-08-14 22:52] AdityaGudimella commented on #258
Hi, @vwxyzjn. Thank you for your response.

That makes sense to me. I had to update gym from 0.23 to 0.25 in my own library, but it did require too many changes. Out of curiosity, if I put up a PR (separately) just for upgrading the gym version to 0.25.1, what would be required to do to merge it in? Would you be running all the algorithms currently present to convergence?

For now, I can see that

[2022-08-16 02:04] vwxyzjn commented on #258
The main thing would be to ensure the scripts run without error.

No, this would not be required.

[2022-08-16 12:36] implausibleDeniability opened #259 "Action bias is added twice in TD3 algorithm implementation"
## Problem Description

In the implementation of [TD3 algorithm](https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/td3_continuous_action.py), the action bias is added twice to the action. First, in the [line 180](https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/td3_continuous_action.py#L180) it is added during actor forward pass. Second, in the [line 181](https://github.com/vwxyzjn/clea

[2022-08-16 13:09] dosssman commented on #259
@implausibleDeniability Thanks for the catch. In hindsight, it should have been centered at 0 indeed.

[2022-08-17 15:49] vwxyzjn commented on #259
Closed by #260. Thanks @implausibleDeniability for raising this issue.

[2022-08-17 15:49] #259 closed

[2022-08-22 14:15] AdityaGudimella commented on #258
I put up an initial PR [here](https://github.com/vwxyzjn/cleanrl/pull/262). I've tested it out on Hopper-v3 and Humaoid-v3. Please take a look at it.

[2022-08-22 16:14] AdityaGudimella opened #263 "Upgrade gym version to 0.26.1"
## Problem Description
Upgrade gym version used in cleanrl from 0.23.1 to 0.25.1

## Checklist
- [ ] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [x] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl/issues) in the repo (required)

## Possible Solution
StabeBaseline

[2022-08-22 16:14] AdityaGudimella commented on #258
I also created a new issue for the gym upgrade [here](https://github.com/vwxyzjn/cleanrl/issues/263).

[2022-08-24 16:22] kinalmehta commented on #220
DQN + JAX pull request is already merged. So closing this issue.

[2022-08-24 16:22] #220 closed

[2022-08-24 20:54] vwxyzjn commented on #219
Closed by #225

[2022-08-24 20:54] #219 closed

[2022-08-25 15:05] #127 closed

[2022-08-26 01:54] vwxyzjn opened #265 "Hyper-parameter optimization guide"

[2022-08-26 11:34] timoklein opened #266 "SAC discrete"
Hey there!

I've used this repo's SAC code as starting point for an implementation of SAC-discrete ([paper](https://arxiv.org/pdf/1910.07207.pdf)) for a project of mine. If you're interested, I'd be willing to contribute it to cleanRL.

The differences to SAC for continuous action spaces aren't too big and I can start from a working implementation, so this shouldn't take too long.

What do you thi

[2022-08-27 12:42] #255 closed

[2022-08-27 13:44] vwxyzjn commented on #265
CC @braham-snyder we are tracking the progress w/ developing multi-objective hyperparameter optimization here. I think a first prototype is to support maximizing normalized scores while minimizing runtime. Let me know if you or anyone else who are interested in working on this, we always welcome new contributors :)

[2022-08-27 14:30] braham-snyder commented on #265
Thanks -- it's unlikely I'll have anything contributable here, but if I were to I'd definitely let you know

[2022-08-28 02:39] vwxyzjn commented on #266
Hi @timoklein, thanks for being interested in submitting a contribution! SAC discrete indeed sounds like an interesting addition to CleanRL. I just glanced at the paper and would recommend prototyping a `sac_atari.py` to work with Atari games as done in the paper.

I was a bit surprised to see the algorithm performs poorly on Pong. Do you have any insight on this? Maybe this is some implementation

[2022-08-28 02:42] vwxyzjn commented on #248
CC @kinalmehta, who is working on DIAYN #267.

[2022-08-28 22:46] vwxyzjn commented on #265
Had some preliminary results w/ multi-objective stuff, as shown in the following figure. The x-axis is the normalized score of CartPole-v1 and Acrobat-v1, and the y-axis is the average runtime (in seconds).

<img width="1825" alt="Screen Shot 2022-08-28 at 6 43 54 PM" src="https://user-images.githubusercontent.com/5555347/187097633-136f8740-bb33-4c3a-8875-90b7a3044c23.png">

We can see the Pareto

[2022-08-29 00:32] vwxyzjn commented on #216
Closed by #219

[2022-08-29 00:32] #216 closed

[2022-08-29 00:33] #33 closed

[2022-08-29 00:33] #73 closed

[2022-08-29 05:17] timoklein commented on #266
Getting to work on it!

For reference, here are the reported results in the paper:
![SAC_discrete_results](https://user-images.githubusercontent.com/36668911/187127192-3583e752-4a4b-4159-81f6-63f3385427f7.png)

In my opinion, the bad results on Pong are due to the evaluation scheme. Evaluation at 100k time steps on Atari is in my opinion a very tough setting for a "standard" model-free RL (some ne

[2022-08-29 19:03] DavidSlayback commented on #248
Sorry for not giving any updates for a while. I'm running into a couple issues following the guidelines

1) The official reference implementations (4 [based](https://github.com/mklissa/PPOC) [on](https://github.com/anandkamat05/TDEOC) [openai-baselines](https://github.com/kkhetarpal/ioc) [ppo](https://github.com/mklissa/MOC)) differ from each other (and the papers) in significant ways. I have a ve

[2022-08-30 02:34] kinalmehta commented on #248
Hi @DavidSlayback

Based on the repos you shared, it seems to be using very old `mujoco` versions, but I guess the environments should be available in the latest `gym` versions.

1. Regarding the environments used in [here](https://github.com/kkhetarpal/ioc) such as `HalfCheetahDir`. They seem to be custom environments available from [here](https://github.com/tristandeleu/pytorch-maml-rl/tree/mast

[2022-08-31 00:26] 3050821417 commented on #207
from datasets import load_dataset

dataset = load_dataset("succinctly/midjourney-prompts")

[2022-09-06 00:14] vwxyzjn commented on #263
Update on the ticket - the current gym master is set to release 0.26.0 which enables `obs, rew, terminated, truncated, info = env.step(action)` by default.

[2022-09-19 15:08] thomasbbrunner opened #276 "Are you interested in PRs for improvements in performance of PPO LSTM script?"
## Problem Description
The current PPO with LSTM script [ppo_atari_lstm.py](https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/ppo_atari_lstm.py) uses sequential stepping through the LSTM, i.e. each step of the sequence in processed individually:
[code]

This method is very slow compared to sending the entire sequence of observations to the LSTM:
[code]

This usually cannot be done in RL, as w

[2022-09-19 21:13] vwxyzjn commented on #276
Thanks @thomasbbrunner. This looks like a really cool trick. CC @araffin. This idea seems to be related to https://github.com/Stable-Baselines-Team/stable-baselines3-contrib/pull/53#issuecomment-1093361537.

Would you be interested in comparing this technique in JAX? We are gradually adopting JAX, which is much faster (see https://github.com/vwxyzjn/cleanrl/pull/227#issuecomment-1243112578). The c

[2022-09-27 20:18] vwxyzjn commented on #248
Hi @DavidSlayback, I apologize for getting back to you so late. I am a little confused. There seems to be 4 algorithms in the hyperlinks. Which are the ones that you are interested in reproducing / contributing?

Regarding environment versions stuff — this is unfortunately one of the really tricky issues — there is not really a great solution here. My thoughts are that you should try reproducing i

[2022-09-27 21:29] DavidSlayback commented on #248
@vwxyzjn Yeah, sorry, I linked those implementations to show the divergence of even the basics of option critic implementations. While each proposes a new technique, they also make a lot of weird and somewhat arbitrary modifications, and none quite follow the papers that they serve as official implementations for.

My intention is to first create 1-1 matches for each, and then create versions that

[2022-09-27 21:31] vwxyzjn commented on #248
That makes sense. I’d suggest put a draft PR for better visibility but only if you feel more comfortable that way.

[2022-09-30 08:37] tomjur opened #279 "TD3 policy noise bugs"
## Problem Description

There are two bugs in
https://github.com/vwxyzjn/cleanrl/blob/e466f6efb251462de2b80f064133f32cb5d83e22/cleanrl/td3_continuous_action.py#L209
(1) The same noise is used for all the batch actions.
(2) Action scale is not taken into account for the noise.

## Checklist
- [x] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs

[2022-09-30 12:32] Matkicail opened #280 "Problem with multi-agent atari"
## Problem Description
Trying to run the multi-agent atari games and getting a specific error.
"
AssertionError: `info` dtype is <class 'list'> while supported dtype is `dict`. This may be due to usage of other wrappers in the wrong order.
"

## Checklist
I did not install via poetry since it was giving me this specific error:
File "/usr/lib/python3/dist-packages/poetry/repositories/pypi_repositor

[2022-09-30 13:14] vwxyzjn commented on #280
Thanks for reporting. The error is due to the dependency version (you probably installed gym 0.25.1 but we pinned at 0.23.1). We use poetry to lock versions to specifically avoid this class of issue, and the [CI passes](https://github.com/vwxyzjn/cleanrl/actions/runs/2939411064/jobs/4694517320)

Hmm not sure what happened with poetry installation. Based on a google search [it seems to be related t

[2022-09-30 13:14] #280 closed

[2022-09-30 14:06] Matkicail commented on #280
Okay thank you for  the assistance.

[2022-10-01 03:40] vwxyzjn commented on #131
It looks like there is a really good single-file implementation offline RL library! https://github.com/tinkoff-ai/CORL/pull/1

[2022-10-01 07:01] dosssman commented on #279
Thanks a lot for the heads up.
I have added the fix in PR #281 mostly as suggested.
not sure if it will have much impact on the results, as the noise application process is ... well, noisy.

[2022-10-01 07:26] tomjur commented on #279
Right, probably so (:
Thanks for the quick bug-fix!

[2022-10-02 06:01] Matkicail opened #283 "Requirments - requirements-pettingzoo.txt"
## Problem Description
Requirements are not including which version of Supersuit is being used.

## Checklist
- Tried to install with poetry however does not seem to be working on my end.
- [ X] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl/issues) in the repo (required)

## Possible Solution
Updating requirements.txt with the version of Supersuit used

[2022-10-02 08:31] Matkicail commented on #283
I went through the poetry files in a past commit. I found that it works with supersuit 3.3.5.
However, I tried to use the same version of pettingzoo as in that poetry file and the requirements. I found that it did not work - not sure if just on my end.  It did work when I changed it to use pettingzoo 1.18.1

[2022-10-03 16:53] vwxyzjn commented on #283
Please try the latest set of `requirementx.txt`. I tested the following commands and they worked.

[code]

[2022-10-04 01:11] vwxyzjn commented on #283
Closing now but feel free to re-open should you encounter additional issues.

[2022-10-04 01:11] #283 closed

[2022-10-04 01:12] vwxyzjn commented on #207
Closed by #287

[2022-10-04 01:12] #207 closed

[2022-10-06 14:40] vwxyzjn commented on #110
10/6/22 update: I would like to rethink how we can support saved models in CleanRL as they have become increasingly relevant (e.g., recent research on using models to bootstrap RL; see [reincarnate RL](https://agarwl.github.io/reincarnating_rl/)). I have updated the issue description to reflect this change.

[2022-10-07 06:25] kinalmehta commented on #110
Sounds good to me. Few queries:

- I don't see any model-saving functionality in any of the files mentioned. So we will have to add both model saving and loading functionality, right?
- if we are going with model saving and loading functionality, should we aim to take a more flexible approach, like continuing the training from a checkpoint?

FYI, I've added loading and saving functionality in #267

[2022-10-11 00:13] jbuckman opened #289 "Re-benchmarking refactored algorithms"
## Problem Description

The performances recorded in the benchmarking scripts (https://wandb.ai/cleanrl/cleanrl.benchmark/reports/Open-RL-Benchmark-0-6-0---Vmlldzo0MDcxOA) no longer correspond to the actual performance of CleanRL algorithms.

## Checklist
- [ x] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installat

[2022-10-11 00:23] vwxyzjn commented on #289
Please see https://wandb.ai/openrlbenchmark/openrlbenchmark/reportlist

there is also a deprecation notice in the link you pasted. It’s also better to see experiment results in the docs, which is more up to date. See https://docs.cleanrl.dev/rl-algorithms/ddpg/#experiment-results as an example.

Please reopen should you have additional questions.

[2022-10-11 00:23] #289 closed

[2022-10-13 11:52] 1900360 opened #290 "ppo+lstm train continuous environments"
I need to apply ppo+lstm in continuous environment recently, can you provide this kind of functionality :)

[2022-10-13 15:22] 1900360 commented on #290
Hi @vwxyzjn!
I made some changes to these two codes, but I get the following error, do you know where the error is?
[code]

[2022-10-13 15:29] vwxyzjn commented on #290
Hi @1900360, thanks for giving it a try. Some high-level comments:
* The NN should be taken from `ppo_continuous_action.py`, but the storage and training logic should be taken `ppo_atari_lstm.py`
* in the `make_env` function you don't need the Atari preprocessing wrappers.

You may also find our [blog post](https://iclr-blog-track.github.io/2022/03/25/ppo-implementation-details/) pretty helpful. D

[2022-10-13 17:11] 1900360 commented on #290
Hi @vwxyzjn !
I still don't get the gist, the changed Agent function looks like this:
[code]

But the error is as follows:
[code]
It seems that there is a problem with the NN settings, causing hidden not to be converted correctly, can you help me modify it :)

[2022-10-14 14:48] 1900360 commented on #290
Hi @vwxyzjn !
Could you give me more detail about LSTM? I'm not so familiar with it:)

[2022-10-14 15:52] vwxyzjn commented on #290
You were on the right track! I'd suggest printing out the hidden layers to see what their shapes look like and see if you can connect them. The `hidden = self.network(x)` gives you a shape of `(batch_size, 1)` which could not be plugged into `self.lstm = nn.LSTM(512, 128)`, where `self.lstm` is expecting an input of size `(batch_size, 512)`

In the shared network's case, the LSTM core is used afte

[2022-10-19 16:30] thomasbbrunner commented on #276
Thanks for the interest!

I am not very familiar with JAX. Currently, I don't have the time to look into this, but I am interested in it and I will make time for it in the near future.

[2022-10-19 18:41] vwxyzjn opened #296 "RLops Guide"
Our current contribution guide mainly covers the process of contributing new algorithms. However, it is unclear what the process looks like for contributing to existing algorithms, which require a different set of procedures.

## Problem
DRL is brittle and has a series of reproducibility issues — even bug fixes sometimes could introduce performance regression (e.g., see [how a bug fix of contact f

[2022-10-19 18:58] #279 closed

[2022-10-22 04:37] sdpkjc opened #297 "Action bias is added twice in DDPG algorithm implementation, similar to #259"
## Problem Description

A problem was reported in #259 , and the problem appears to exist in ddpg([`ddpg_continuous_action.py` ](https://github.com/vwxyzjn/cleanrl/blob/17febbf88c28d3572c62ae6fa041921ef84290c4/cleanrl/ddpg_continuous_action.py) & [`ddpg_continuous_action_jax.py`](https://github.com/vwxyzjn/cleanrl/blob/17febbf88c28d3572c62ae6fa041921ef84290c4/cleanrl/ddpg_continuous_action_jax.py)

[2022-10-24 15:04] vwxyzjn commented on #276
Sounds good thank you!

[2022-10-24 15:05] vwxyzjn commented on #290
Closing this issue now, but feel free to open a PR if you are interested in exploring this — having a rigorous benchmark and experiment design will help ensure the implementation is correct.

[2022-10-24 20:11] WillDudley opened #303 "cuda with SAC"
Hi, I don't think cuda will work with SAC due to the use of `FloatTensor`, see: https://github.com/vwxyzjn/cleanrl/pull/302 for my proposed changes

Apologies for the low-effort report, just thought I'd highlight it in case it is an error

[2022-10-24 21:21] araffin opened #304 "SAC Implementation Details"
Reading https://github.com/vwxyzjn/cleanrl/blob/master/docs/rl-algorithms/sac.md and the code while implementing SAC with Jax (#300 ), several tweaks have been made compared to the original SAC implementation and I was wondering why and if the impact of each of those tweaks have been tested (apart from higher learning for the qf, which does yield slightly better results).

For a reference, I bench

[2022-10-30 15:57] franfram opened #305 "unable to render video in gitpod"
## Problem Description

Unable to render video when using gitpod.

## Checklist
- [x] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [x] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl/issues) in the repo (required)

## Current Behavior
python ppo.py     --seed 1

[2022-10-30 19:52] #305 closed

[2022-10-31 14:59] vwxyzjn commented on #303
Closed by #302. Thank you @WillDudley!

[2022-11-02 02:03] vwxyzjn opened #309 "DDPG JAX breaks with python ~3.7"
## Problem Description
Running `poetry run python cleanrl/ddpg_continuous_action_jax.py` with python ~3.7 gets

[code]

Should we drop 3.7 support?

## Checklist
- [x] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [x] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl

[2022-11-02 20:36] joaogui1 commented on #309
I'm in favor of dropping it

[2022-11-03 13:30] madlsj opened #310 "Why is there no design evaluation and save model module?"
## Problem Description
Why is there no design evaluation and save model module?

[2022-11-05 22:07] #218 closed

[2022-11-08 02:37] vwxyzjn commented on #310
Hi @madlsj thanks for raising this issue. We are hoping to gradually enable model saving and evaluation at #292. So far, we have omitted evaluation for a list of reasons

* **reduced codebase**: Model saving and evaluation are mostly boilerplate code, so removing them reduces quite some lines of code.
* **straight forward for user to implement**: For users who need evaluation / model saving, imple

[2022-11-14 03:40] vwxyzjn opened #317 "Benchmark `dqn_jax.py` using CPU only"
## Problem Description

See https://github.com/vwxyzjn/cleanrl/pull/315#discussion_r1020974503

[2022-11-15 00:46] JamesKCS commented on #310
Hi @vwxyzjn, thank you for your excellent work on this awesome library. I have a couple questions closely related to the above, and thought I'd piggyback on this issue rather than making my own:

I am attempting to save/load a trained agent trained with code based on your `ppo_continuous_action.py` for evaluation.  The agent performed significantly worse after reloading than it did during the latt

[2022-11-15 02:12] vwxyzjn commented on #310
Hi @JamesKCS, thanks for sharing these issues.

I recommend applying the normalize wrappers at the vectorized environment level like

https://github.com/vwxyzjn/envpool-cleanrl/blob/880552a168c08af334b5e5d8868bfbe5ea881445/ppo_continuous_action_envpool.py#L194-L198

which performs better in my experience when `num_envs>1`. Then you can grab the `RunningMeanStd.mean` which is the running mean of al

[2022-11-16 22:31] JamesKCS commented on #310
@vwxyzjn Just an update: the above did seem to fix the problem. After retraining and using the learned normalized observations, the newly loaded agent had returns similar to the those from the end of the training.  Thank you again!

[2022-11-22 14:42] qgallouedec opened #322 "Target network isn't updated to the correct frequency when `target_network_frequency % train_frequency != 0`"
Because this `if` statement

https://github.com/vwxyzjn/cleanrl/blob/c37a3ec4ef8d33ab7c8a69d4d2714e3817739365/cleanrl/dqn.py#L205

is inside this one

https://github.com/vwxyzjn/cleanrl/blob/c37a3ec4ef8d33ab7c8a69d4d2714e3817739365/cleanrl/dqn.py#L185

Consequently, the target network is updated when `global_step % train_frequency == 0 and global_step % target_network_frequency == 0`.

For example

[2022-11-22 15:35] #322 closed

[2022-11-23 06:41] mynameisjanus opened #324 "Typo in c51.py"
Line 108 I think should be 'self.n_atoms' instead of 'self.atoms'

[2022-11-24 05:29] mynameisjanus commented on #324
Oh wait, it's the buffers!

[2022-11-24 05:29] #324 closed

[2022-11-27 17:30] LooseTerrifyingSpaceMonkey opened #325 "GitPod instance errors out when running poetry install"
## Problem Description
GitPod instance errors out when running poetry install

## Checklist
- [] I have installed dependencies via `poetry install` (see [CleanRL's installation guideline](https://docs.cleanrl.dev/get-started/installation/).
- [X] I have checked that there is no similar [issue](https://github.com/vwxyzjn/cleanrl/issues) in the repo.
- [X] I have checked the [documentation site](htt

[2022-11-27 17:33] vwxyzjn commented on #325
It’s probably cached incorrectly. Would you mind creating a PR that updates the Dockerfile.gitpod and modify the poetry installation line to pip install poetry --upgrade?

[2022-11-27 20:20] LooseTerrifyingSpaceMonkey commented on #325
Created a PR: https://github.com/vwxyzjn/cleanrl/pull/326